<!-- templates/expenses.html -->

{% extends 'base.html' %}

{% block content %}
<div class="bg-white p-4 rounded shadow">
    <h2 class="text-xl font-semibold mb-2">Personal Details</h2>
    <form method="POST" class="mb-4">
        <div class="mb-4">
            <label for="risk" class="block mb-2">Name</label>
            <input type="name" name="name11" id="name1" placeholder="Enter Name" required class="border p-2 rounded w-full">
        </div>
        <div class="mb-4">
            <label for="amount" class="block mb-2">Income</label>
            <input type="number" name="income1" id="income11" placeholder="Enter income" required class="border p-2 rounded w-full">
        </div>
        <div class="mb-4">
            <label for="amount" class="block mb-2">Savings</label>
            <input type="number" name="expense1" id="expense11" placeholder="Enter Savings" required class="border p-2 rounded w-full">
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Update details</button>
    </form>


    
</div>
{% endblock %}
